{
    "host_name": "host_name_here",
    "database" : {
        "apiKey": "apiKey",
        "authDomain": "projectId.firebaseapp.com",
        "databaseURL": "https://databaseName.firebaseio.com",
        "storageBucket": "projectId.appspot.com"
    },
    "login" : {
        "username" : "",
        "password" : ""
    }
}